# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.cs-lab-serializacja-szyfrowanie-GraZgadywanka.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\kamio90\Documents\GitHub\cs-lab-serializacja-szyfrowanie-GraZgadywanka\.idea\.idea.cs-lab-serializacja-szyfrowanie-GraZgadywanka.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
